{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>sign up</title>
</head>
<body>
  <div class="container">
    <div class="item">
      <img src="{% static 'images/Cocktail Bar (2).png' %}" class="text-center">
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endif %}
        <div class="row justify-content-center"> 
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        <p class="row justify-content-center"><a href="#">Search reastaurants without sign up</a></p>
      </form>
    </div>
  </div>
  
</body>
</html>