{% extends 'base.html' %}
{% block content %}
<!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
</div>
  
  <!--Google Maps-->
  
<div class="card text-center ">
    <div class="card-header">
        Special Wine
    </div>
    <div class="card-body">
        <h5 class="card-title">Cibo (Italian Restaurant)</h5>
        <p class="card-text">We offer half a price wine between 3PM to 6PM</p>
        <a href="#" class="btn"><span class="fas fa-star fa-fw mr-3"></span>Favorites</a>

        <a href="#" class="btn">See more deals</a>
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
        Special Wine
    </div>
    <div class="card-body">
        <h5 class="card-title">Cibo (Italian Restaurant)</h5>
        <p class="card-text">We offer half a price wine between 3PM to 6PM</p>
        <a href="#" class="btn"><span class="fas fa-star fa-fw mr-3"></span>Favorites</a>
        <a href="#" class="btn">See more deals</a>
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
        Special Wine
    </div>
    <div class="card-body">
        <h5 class="card-title">Cibo (Italian Restaurant)</h5>
        <p class="card-text">We offer half a price wine between 3PM to 6PM</p>
        <a href="#" class="btn"><span class="fas fa-star fa-fw mr-3"></span>Favorites</a>
        <a href="#" class="btn">See more deals</a>
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
        Special Wine
    </div>
    <div class="card-body">
        <h5 class="card-title">Cibo (Italian Restaurant)</h5>
        <p class="card-text">We offer half a price wine between 3PM to 6PM</p>
        <a href="#" class="btn"><span class="fas fa-star fa-fw mr-3"></span>Favorites</a>
        <a href="#" class="btn">See more deals</a>
    </div>
</div>
    
{% endblock %}